<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tycho.app.primenumberfinder"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".PrimeNumberFinder"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Default.NoActionBar">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/Default.NoActionBar"
            android:name=".modules.savedfiles.activities.SavedFilesListActivity"
            android:label="Saved Files"/>

        <activity
            android:theme="@style/PrimeNumbers"
            android:name=".modules.savedfiles.activities.DisplayPrimesActivity"
            android:label="Primes"/>

        <activity
            android:theme="@style/Factors"
            android:name=".modules.savedfiles.activities.DisplayFactorsActivity"
            android:label="Factors"/>

        <activity
            android:theme="@style/FactorTrees"
            android:name=".modules.savedfiles.activities.DisplayPrimeFactorizationActivity"
            android:label="Prime Factorization"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tycho.app.primenumberfinder"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>
    </application>

</manifest>
